body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}
.contenedor-header {
    background-color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}
.logo_lupa,
.logo_menu {
    max-height: 30px; 
}
.logo_letras{
    max-height: 40px; 
}
h2{
    margin-left: 20px;
    font-size: 30px;
    color: #000000;
    margin-top: 10px;
}
#contenedor-microfono {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#icono-microfono {
    width: 170px; 
    height: 170px;
    align-self: center;
}


.contenedor-buscador {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

#input-buscador {
    border: none; 
    margin-left: 4px;
    outline: none; 
}

.contenedor-buscador .busqueda {
    display: flex;
}


.busqueda span {
    margin-left: 5px; 
}

.icono-microfono {
    width: 30px; 
    height: auto; 
    margin-left: 10px; 
}

#contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
}


#producto-info, #plano-info {
    width: 200px; 
    height: 50px;
    margin-bottom: 20px; 
}

.nav1{
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
  .nav1{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
   
  }
  .nav1.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list1{
      flex-direction: column;
      align-items: end;
  }
  .nav-list1 li a {
      display: block;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-family: 'Montserrat';
      font-weight: bolder;
  }
  .nav-list1{
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
 
  .abrir, .cerrar{
    display: block;
    border: 0;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    color: black;

    padding: 0px;
  }


