body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
    min-height: 80vh; 
}
.contenedor-header {
    background-color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}
.logo_lupa,

.logo_letras{
    max-height: 40px; 
}
h2{
    margin-left: 20px;
    font-size: 30px;
    color: #000000;
    margin-top: 10px;
    
}


.contenedor-buscador {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

#input-buscador {
    border: none; 
    margin-left: 4px;
    outline: none; 
}

.contenedor-buscador .busqueda {
    display: flex;
}

#btn-nfc{
    display: inline-block;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: white; 
    color: white; 
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#escaneando{
    width: 300px;
}

#escaneado{
    width: 300px;
    display: none;
}

.busqueda span {
    margin-left: 5px; 
}

.icono-microfono {
    width: 30px; 
    height: auto; 
    margin-left: 10px; 
}

footer {
    background-color: #44b159; 
    color: white; 
    text-align: center; 
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center; 
}

.footer-icons {
    display: flex;
    justify-content: space-around; 
}

.footer-icons div {
    text-align: center; 
}

.footer-icons img {
    width: 30px; 
    height: 30px;
    padding: 5px;
}

.footer-icons span {
    display: block; 
    font-weight: bolder;
    font-size: 20px;
    padding-top: 3px;
}

.total{
    color: black;
    font-weight: bolder;
}
.pagar{
    color: black;
    font-weight: bolder;
}

#escaneo{
    width: 70px;
    height: 70px;
}

.nav1{
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
  .nav1{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }
  .nav1.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list1{
      flex-direction: column;
      align-items: end;
  }
  .nav-list1 li a {
      display: block;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-family: 'Montserrat';
      font-weight: bolder;
  }
  .nav-list1{
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
 
  .abrir, .cerrar{
    display: block;
    border: 0;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    color: black;

    padding: 0px;
  }

